.btn{
    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        transition: all, .2s;
        font-size: $default-font-size;
        position: relative;
        border-radius: 10rem;
        padding: 1.5rem 4rem;
        text-align: center;
    }

    &--white{
        background-color: $color-white;
        color: $color-black;
        display: inline-block;

        
        &::after{
            background-color: $color-white;
        }
    }

    &--green{
        color: $color-white;
        background-color: $color-primary;
        display: inline-block;
        
        
        &::after{
            background-color: $color-primary;
        }
    }

    
    &:hover{
        transform: translateY(-.2rem);
        box-shadow: 0rem 1rem 2rem rgba($color-black, 0.212); 

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0; 
        }
    }
    
    &:active{
        transform: translateY(-.1rem);
        box-shadow: 0rem .3rem 1rem rgba($color-black, 0.212);
    }
    
    &::after{
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
        border-radius: 10rem;
    }
    
    &--animated{
        animation: moveInButton .75s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: .1rem solid $color-primary;
        padding: .3rem;
        transition: all .2s;
    }

    &:hover{
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translate(-2px);
    }

    &:active{
        box-shadow: $box-shadow;
        transform: translate(0);
    }
}